@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Serif', serif;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("./fonts/Montserrat-Light.eot");
  src: local("☺"), url("./fonts/Montserrat-Light.woff") format("woff"), url("./fonts/Montserrat-Light.ttf") format("truetype"), url("./fonts/Montserrat-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif - Regular';
  src: url("./fonts/PTF55F.eot");
  src: local("☺"), url("./fonts/PTF55F.woff") format("woff"), url("./fonts/PTF55F.ttf") format("truetype"), url("./fonts/PTF55F.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ibg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__logo {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.header__burger {
  display: none;
}

.header__list {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 3;
}

.header__list li {
  margin-left: 25px;
}

.header__list li:last-child a span {
  margin-left: 11px;
}

.header__list li:last-child a {
  display: flex;
  align-items: center;
}

.header__link {
  color: #646667;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__link:hover {
  text-decoration-line: underline;
  color: #08b6eb;
  transition: all 0.3s ease 0s;
}

@media (max-width: 944px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu.active {
    top: 0;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    padding-top: 70px;
    transition: all 0.3s ease 0s;
  }
  .header__link {
    color: white;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin-bottom: 20px;
  }
  body .content {
    padding-top: 70px;
  }
}

body > div > header > div > div > nav > ul > li:nth-child(6) > a > span > img {
  border: none;
  background: none;
  width: 30px;
}

.content {
  padding-top: 100px;
  margin-bottom: 40px;
}

.bulding {
  position: relative;
}

.bulding-top {
  position: relative;
  top: 0;
  left: 0;
  height: 411px;
  width: 100%;
  overflow: hidden;
}

.bulding-top__img {
  height: 100%;
}

.bulding-top__img img {
  height: 411px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.bulding-top__title {
  position: absolute;
  top: 60%;
  left: 32%;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "PT Serif";
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: calc(32px + 18 * (100vw / 99999));
}

@media (max-width: 658px) {
  .bulding-top__title {
    position: absolute;
    top: 20%;
    left: 0;
    padding: 15px;
    text-align: center;
    line-height: 1.3;
  }
}

@media (max-width: 658px) and (max-width: 400px) {
  .bulding-top__title {
    top: 5%;
  }
}

.grad:after {
  content: '';
  transform: rotate(30deg);
  position: absolute;
  width: 68%;
  height: 200%;
  left: -41%;
  top: -60%;
  background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0.1) 100%);
}

.bulding-bottom {
  margin: 0 auto;
  padding: 48px 100px 100px 100px;
}

.bulding-bottom__text {
  text-align: center;
  color: #646667;
  font-family: "Montserrat Light";
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 46px;
}

.bulding-bottom__btn {
  /* Style for "Rectangle" */
  margin: 0 auto;
  text-align: center;
  max-width: 370px;
  height: 56px;
  background-color: #007397;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 55px;
  text-transform: uppercase;
}

.btn-w {
  display: block;
  background-color: #007397;
  font-family: Montserrat;
  letter-spacing: 1px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.btn-w:after {
  content: '';
  width: 0;
  position: absolute;
  transition: all 0.7s ease 0s;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #050638;
}

.btn-w span {
  position: relative;
  z-index: 2;
}

.btn-w:hover:after {
  left: 0;
  width: 100%;
}

@media (max-width: 730px) {
  .bulding-bottom {
    padding: 31px 0;
  }
}

@media (max-width: 390px) {
  .bulding-bottom__btn {
    max-width: 231px;
    height: 50px;
    font-size: 13px;
    display: flex;
    line-height: 17px;
    flex-direction: column;
    justify-content: center;
  }
}

.investor-top {
  text-align: left;
  max-width: 670px;
  margin-bottom: 48px;
}

.investor-top__title {
  color: #3c3f3d;
  font-family: "PT Serif";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

@media (max-width: 730px) {
  .investor-top__title {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }
  .investor-top__title .bulding-top__text {
    text-align: center;
  }
}

.investor-top__text {
  color: #646667;
  font-family: "Montserrat Light";
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}

@media (max-width: 730px) {
  .investor-top__text {
    text-align: center;
  }
}

@media (max-width: 957px) {
  .investor-bottom .investor-bottom__row {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 749px) {
  .investor-bottom .investor-bottom__row {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}

.investor-bottom__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;
}

.investor-bottom__column {
  flex: 0 1 auto;
  margin-right: 25px;
  margin-bottom: 15px;
}

.investor-bottom__column:last-child {
  margin-right: 0;
}

@media (max-width: 957px) {
  .investor-bottom__column {
    flex: 0 1 33.333%;
    margin-right: 0;
  }
}

@media (max-width: 749px) {
  .investor-bottom__column {
    flex: 1 1 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .investor-bottom__column .investor-bottom__number {
    font-size: 40px;
  }
  .investor-bottom__column .investor-bottom__title {
    font-size: 14px;
  }
}

@media (max-width: 429px) {
  .investor-bottom .investor-bottom__column:nth-child(3) {
    flex: 1 1 100%;
  }
  .investor-bottom .investor-bottom__column:nth-child(5) {
    flex: 1 1 100%;
  }
  .investor-bottom .investor-bottom__row {
    padding: 0 5px;
  }
}

.investor-bottom__number {
  color: #007397;
  font-family: "PT Serif - Regular";
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
}

.investor-bottom__title {
  color: #aec3d4;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.investor-bottom__btn {
  width: 270px;
  height: 56px;
  background-color: #007397;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 552px) {
  .investor-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.news {
  margin-bottom: 100px;
}

.news-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news-top__row {
  display: flex;
  align-items: center;
}

.news-top__title {
  color: #3c3f3d;
  font-family: "PT Serif";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 48px;
  text-transform: uppercase;
}

.news-top__column {
  cursor: pointer;
  color: #d3cfce;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
}

.news-top__column:hover {
  color: #007397;
}

.news-top__column:not(:last-child) {
  margin-right: 100px;
}

@media (max-width: 817px) {
  .news-top {
    flex-direction: column;
  }
  .news-top__title {
    margin-bottom: 30px;
  }
  .news-top__row {
    justify-content: center;
  }
}

@media (max-width: 469px) {
  .news-top__column:not(:last-child) {
    margin-right: 50px;
  }
}

.active {
  color: #007397 !important;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #007397;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.news-bottom__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.news-bottom__column {
  flex: 0 1 32.452%;
  display: flex;
  flex-direction: column;
  margin: 10px 5px 50px;
}

.news-bottom__img {
  position: relative;
  margin-bottom: 30px;
}

.news-bottom__list li:first-child {
  position: absolute;
  top: 6%;
  left: 7.5%;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 16px;
  text-transform: uppercase;
}

.news-bottom__list li:last-child {
  position: absolute;
  top: 62%;
  left: 7.5%;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  .news-bottom__list li:last-child {
    font-size: 20px;
  }
}

.news-bottom__text {
  color: #646667;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
  flex: 1 0 auto;
}

.image {
  position: relative;
  overflow: hidden;
}

.image img {
  display: block;
}

.image:after {
  content: '';
  transform: rotate(20deg);
  position: absolute;
  width: 105%;
  height: 200%;
  left: -23%;
  top: -60%;
  opacity: 0.8;
  background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0.1) 100%);
}

@media (max-width: 1161px) {
  .news-bottom__row {
    justify-content: center;
  }
  .news-bottom__column {
    margin: 40px;
  }
}

@media (max-width: 930px) {
  .news-bottom__column {
    flex: 0 1 100%;
    margin-left: 0;
    margin: 0 0 30px 0;
  }
  .image {
    width: 100%;
  }
  .image img {
    width: 100%;
    max-height: 500px;
    background-size: 100% 0;
  }
}

@media (max-width: 694px) {
  .news {
    margin-bottom: 50px;
  }
}

.map__title {
  color: #3c3f3d;
  font-family: "PT Serif";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.footer {
  margin-top: 40px;
  color: #646667;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer-body__list {
  display: flex;
}

.footer-body__list li:not(:first-child) {
  margin-left: 20px;
}

@media (max-width: 694px) {
  .map__title {
    font-size: 25px;
    text-align: center;
    line-height: 25px;
  }
}

@media (max-width: 516px) {
  .footer__row {
    flex-direction: column;
  }
}

@media (max-width: 516px) and (max-width: 350px) {
  .footer__row {
    font-size: 10px;
  }
}
/*# sourceMappingURL=busnis.css.map */